@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --pri-soft-orange:  hsl(35, 77%, 62%);
    --pri-soft-red:  hsl(5, 85%, 63%);

    --ntrl-off-white: hsl(36, 100%, 99%);
    --ntrl-grayish-blue: hsl(233, 8%, 79%);
    --ntrl-articles-color: hsl(233deg 8% 79% / 70%);
    --ntrl-dark-grayish-blue: hsl(236, 13%, 42%);
    --ntrl-very-dark-blue: hsl(240, 100%, 5%);

    --ff-body: 'Inter', sans-serif;
    --fs-body: 0.9375rem;
}


/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Components */
.flex {
    display: flex;
    align-items: center;
}

/* Resets */

body {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: var(--ntrl-dark-grayish-blue);
    position: relative;
    font-size: 0.9375rem;
   
}

button {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

a, img {
    display: inline-block;
}

h1 {
    font-weight: 800;
}

p {
    line-height: 1.5;
}

/* Components */
.btn {
    display: inline-block;
    border: none;
    padding: .8rem 1.5rem;
    text-transform: uppercase;
}

/* Main */

main {
    width: 90%;
    max-width: 1100px;
    /* margin: 0 auto; */
    display: grid;
    place-content: center;
    gap: 2rem;
    margin: 1rem;
}

/* Navigation */
.navbar {
    padding: 1.5rem 0 0;
    justify-content: space-between;
}

.navbar a.logo {
    width: 50px;
}

.navbar .navbar__links .links{
    /* display: none; */
    position: absolute;
    border: 1px solid red;
    flex-direction: column;

    height: 100vh;
    left: 10000px; /*Taking the content out of view*/
    top: 0;
    /* width: 70%; */
    z-index: 2;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

/* Hero Section */
.hero {
    display: grid;
    gap: 1rem;
}


.hero .hero__cta-text {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.hero__cta-text .main-heading h1 {
    font-size: 2.5rem;
    color: var(--ntrl-very-dark-blue);
}

.hero__cta .cta__text-content p {
    /* padding: 1rem 0; */
    line-height: 1.5;
}

.cta__text-content .cta-btn {
    letter-spacing: 4px;
    font-weight: 700;
    color: var(--ntrl-off-white);
    background-color: var(--pri-soft-red);
    margin: 1rem 0;
}

/* Hero News */
.hero__news {
    border: 1px solid red;
    padding: 1.5rem 1rem;
    background-color: var(--ntrl-very-dark-blue);
}

.news-heading {
    font-size: 2rem;
    color: var(--pri-soft-orange);
    font-weight: 700;
}

.hero__news .news-links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero__news .news-links .news:nth-of-type(2) {
    padding: 2rem 0;
    border-top: .5px solid var(--ntrl-articles-color);
    border-bottom: .5px solid var(--ntrl-articles-color);
}

.hero__news .news-links .news h3 {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--ntrl-off-white);
    margin-bottom: 1rem;
}

.hero__news .news-links p {
    color: var(--ntrl-articles-color);
}

/* .hero__news .news-links .news hr {
    margin: 1rem 0;
} */


/* Trending Section */
.trending__news {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.trending__news .trending {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    border: 1px solid red;
}

.trending__news .trending .trending-text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.trending__news .trending .trending-text p.rank {
    font-size: 2rem;
    font-weight: 700;
    color: var(--ntrl-articles-color);
}

.trending__news .trending .trending-text h4 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--ntrl-very-dark-blue);
}










.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}