@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --pri-soft-orange: hsl(35, 77%, 62%);
  --pri-soft-red: hsl(5, 85%, 63%);
  --neautral-off-white: hsl(36, 100%, 99%);
  --neutral-grayish-blue: hsl(233, 8%, 79%);
  --neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --neutral-dark-blue: hsl(240, 100%, 5%);

  --white: #fff;
  /* Btn background */
  --cta-bg: var(--pri-soft-red);
  /* Article Background */
  --article-bg: var(--neutral-dark-blue);

  /* Default Font Family */
  --body-ff: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utilities */
.container {
  padding: 2rem 9%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.heading {
  color: var(--neutral-dark-blue);
}

.btn {
  padding: 1em 2em;
  border: none;
  cursor: pointer;
}

.cta-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: var(--pri-soft-red);
  color: var(--white);
  transition: background-color 0.3s ease-in;
}

.cta-btn:hover {
  background-color: var(--neutral-dark-blue);
}

/* Reset */

html {
  font-size: 15px;
}

body {
  font-family: var(--body-ff);
  font-size: 1rem;
  color: var(--neutral-dark-grayish-blue);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h1 {
  font-weight: 800;
}

button {
  font-family: inherit;
  display: inline-block;
}

/* Header Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.banner .logo {
  display: inline-block;
  width: 50px;
}

.banner .navbar_items {
  display: flex;
  gap: 2rem;
}

.banner .navbar_item a {
  transition: color 0.2s ease-in;
}

.banner .navbar_item a:hover {
  color: var(--pri-soft-red);
}

/* Hero Section */
.hero_intro {
  grid-column: 1 / span 2;
}

.hero_intro-cta {
  display: flex;
  gap: 2rem;
  padding: 1.5rem 0;
}

.hero_intro-cta > * {
  flex: 1 1 50%;
}

.hero_intro-cta h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.hero_intro-cta p {
  line-height: 1.5;
}

.cta-text {
  display: flex;
  flex-direction: column;
}

.cta-text button {
  margin-top: auto;
  align-self: flex-start;
}

.hero_aside aside {
  /* border: 1px solid red; */
  height: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-grayish-blue);
}

.hero_aside aside h2 {
  color: var(--pri-soft-orange);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.hero_aside h3 {
  color: var(--white);
  margin-bottom: 1rem;
}

.hero_aside p {
  margin-bottom: 2rem;
}
